#root {
    margin: auto;
    width: 50%;
    font-size: 28px;
    font-weight: 300;
}

.clock-container {
    font-family: "Orbitron";
    background: orange;
    color: white;
    border: black 2px solid;
    padding: 20px;
    border-radius: 5px;
}

.clock-item {
    display: flex;
    justify-content: space-between;
}